{% extends 'index.html' %}

{% block header %}
<strong class="navbar-brand">Jenkins</strong>
{% endblock %}
{% block content %}
<table class="table table-hover table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Job</th>
      <th scope="col">Status</th>
      <th scope="col">Última vez</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    {% for j in context.jobs %}
      <td>{{ j.fullName }}</td>
      <td>
        {{ 'Ok' if j.color == 'blue' else 'Erro' }}
        <i class="fas fa-info-circle" style="color: {{ 'green' if j.color == 'blue' else 'red' }}"></i>
      </td>
      <td>
        {% if not j.firstBuild %}
          Nunca buildou
        {% elif j.lastSuccessfulBuild.number == j.nextBuildNumber-1 %}
          Sucesso
        {% else %}
          Falhou
        {% endif %}
      </td>
      <td>
        <div class="row">
          <div class="col-4">
            <a href="/jenkins/build/{{ j.fullName }}" title="Iniciar Build">
              <i class="fas fa-redo-alt"></i>
            </a>
          </div>
          <div class="col-4">
            <a href="/jenkins/update/{{ j.fullName }}" title="Atualizar Build">
              <i class="fas fa-pencil-alt"></i>
            </a>
          </div>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}